<%= simple_form_for(question, html: { class: "question-form"}) do |f| %>
  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'one.svg', class: "avatar-sm"%>
        What do you need help with?
      </p>
      <%= f.input :title %>
      <div class="form-inputs">
        <%= f.rich_text_area :rich_body %>
      </div>
    </div>
  </section>

  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'two.svg', class: "avatar-sm" %>
        Languages / Frameworks / Topics
      </p>
      <%= f.association :skills, collection: Skill.all,
        as: :check_boxes,
        include_blank: false,
        include_hidden: false,
        input_html: { class: "skills-selector" },
        item_wrapper_class: 'skills-item' %>
    </div>
  </section>

  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'three.svg', class: "avatar-sm" %>
        Availability and Price
      </p>
      <span class="d-flex">
        <div class="row w-100">
          <div class="col-6">
            <%= f.input :start_time, as: :string %>
          </div>
          <div class="col-6">
            <%= f.input :end_time, as: :string %>
          </div>
        </div>
      </span>
      <div class="range-wrap">
        <%= f.input :budget, as: :range, collection: 1..100, value:"50", wrapper_html: { class: 'mb-0' } %>
        <span class= "bubble" id="price"> </span>
      </div>
    </div>
  </section>

  <%= f.button :submit, "Submit", class: "btn light-btn mb-5 mt-5"%>
<% end %>
