<%= simple_form_for(question, html: { class: "form-question"}) do |f| %>
  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'one.svg', class: "avatar-sm"%>
        What do you need help with?
      </p>
      <%= f.input :title %>
      <%= f.input :description %>
    </div>
  </section>

  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'two.svg', class: "avatar-sm" %>
        Languages / Frameworks / Topics
      </p>
      <%= f.association :skills, collection: Skill.all ,
        as: :check_boxes,
        input_html: { class: "skills-selector" },
        item_wrapper_class: 'skills-item' %>
    </div>
  </section>

  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'three.svg', class: "avatar-sm" %>
        Availability and Price
      </p>
    <%= f.input :start_time%>
    <%= f.input :end_time %>
    <%= f.input :min_price, collection: 1..20, label:"Min price" %>
    <%= f.input :max_price, collection: 21..50 %>
    </div>
  </section>

  <%= f.button :submit, "Ask Question", class: "btn light-btn"%>
<% end %>
