<%= simple_form_for(question, html: { class: "question-form"}) do |f| %>
  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'one.svg', class: "avatar-sm"%>
        What do you need help with?
      </p>
      <%= f.input :title %>
      <%= f.input :description, as: :text %>
    </div>
  </section>

  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'two.svg', class: "avatar-sm" %>
        Languages / Frameworks / Topics
      </p>
      <%= f.association :skills, collection: Skill.all,
        as: :check_boxes,
        include_blank: false,
        include_hidden: false,
        input_html: { class: "skills-selector" },
        item_wrapper_class: 'skills-item' %>
    </div>
  </section>

  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'three.svg', class: "avatar-sm" %>
        Availability and Price
      </p>
        <%= f.input :start_time, as: :string %>
        <%= f.input :end_time, as: :string %>
      <div>
        <%= f.input :min_price, collection: 1..20, label:"Min price" %>
        <%= f.input :max_price, collection: 21..50 %>
      </div>
    </div>
  </section>

  <%= f.button :submit, "Submit", class: "btn light-btn mb-5 mt-5"%>
<% end %>
