<div class="col-7 pt-5 pl-4">
  <h2 class="subheading">Answer a question</h2>
  <form class="question-form mb-3">
    <label for="search" class="gray">Filter: Add a language / Framework / Topic: </label>
    <input type="text" name="search">
  </form>
  <% @all_questions.each do |question| %>
    <div class="card-template question mb-2">
      <div class="info">
        <h6 class="title mb-2"><%= question.title %> </h6>
          <div class="tags">
            <% question.skills.each do |skill| %>
              <p class="card-tag"> <%= skill.name %> </p>
            <% end %>
          </div>
      </div>
      <%= link_to "Apply", question_path(question), class: "btn fat-btn" %>
    </div>
  <% end %>
  <h2 class="subheading mt-3">Questions Applied</h2>
  <% if @proposals.empty? %>  
    <div class='card-template card-questions mt-3 mb-3'>
      <%= image_tag 'missing.svg' %>
      <p class='muted'>No questions applied. Apply for a question now.</p>
    </div>
  <% else %>
    <% @proposals.each do |proposal| %>
      <div class="card-template question mb-2">
        <div class="info">
          <h6 class="title mb-2"><%= proposal.question.title %> </h6>
            <div class="tags">
              <% proposal.question.skills.each do |skill| %>
                <p class="card-tag"> <%= skill.name %> </p>
              <% end %>
            </div>
        </div>
        <% if proposal.status == 'pending' %>
          <%= link_to "Pending", question_path(proposal.question), class: "btn fat-btn pending" %>
        <% elsif proposal.status == 'selected' %>
          <%= link_to "Selected", question_path(proposal.question), class: "btn fat-btn accepted" %>
        <% else %>
          <%= link_to cancel_path(proposal), class: 'btn fat-btn rejected' do %>
            <%= image_tag 'trash.svg', width: '20px', height: '20px' %>
            Rejected
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>