<div class="container mt-5 pt-3">
  <div class="row">
    <div class="col-2">
      <%= render 'shared/sidenav' %>
    </div>

    <div class="col-7 pt-5">
      <h2 class="subheading">Get Started</h2>
      <%= link_to new_question_path do %>
        <div class="ask-a-question">
          <div class="card-qn-infos">
            <h2>Ask a question</h2>
            <p>Specify the problem &middot; Set a price &middot; Connect and learn</p>
          </div>
          <%= image_tag "code.svg" %>
        </div>
      <% end %>

      <h2 class="subheading mt-5">Active Questions</h2>
      <% @questions.each do |question| %>
          <div class="card-template question mb-2">
            <div class="info">
              <p class="title"><%= question.title %></p>
            </div>
            <%= link_to "Pick a tutor", question_path(question), class: "btn fat-btn" %>
          </div>
      <% end %>
    </div>

    <div class="col-3 pt-5">
      <h2 class="subheading">Help and Support</h2>
    </div>
  </div>
</div>
