<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'shared/sidenav' %>
    </div>

    <div class="col-7 pt-5 pl-4">
      <h2 class="subheading">Get Started</h2>
      <%= link_to new_question_path do %>
        <div class="ask-a-question">
          <div class="card-qn-infos">
            <h2>Ask a question</h2>
            <p>Specify the problem &middot; Set a price &middot; Connect and learn</p>
          </div>
          <%= image_tag "code.svg" %>
        </div>
      <% end %>

      <h2 class="subheading mt-5">Active Questions</h2>
      <% @questions.each do |question| %>
        <div class="card-template question mb-2">
          <div class="info">
            <h6 class="title mb-2"><%= question.title %> </h6>
              <div class="tags">
                <% question.skills.each do |skill| %>
                  <p class="card-tag"> <%= skill.name %> </p>
                <% end %>
              </div>
          </div>
              <% if question.proposals.find_by status: "selected" %>
                <p class= "btn fat-green-btn" >View</p>
                <!-- link to view the proposed -->
              <% else %>
                <p class= "btn fat-btn" >Pick a Tutor</p>
                <!-- link to view the proposed -->
              <% end %>
        </div>

    <% if current_user.tutor %>
      <%= render 'tutor' %>
    <% else %>
      <%= render 'student' %>

    <% end %>
    <div class="col-3 pt-5">
      <h2 class="subheading">Help and Support</h2>
    </div>
  </div>
</div>
