<div class="container">

  <h3><%= @question.title %></h3>
  <p><%= @question.description %></p>
  <span>$<%= @question.min_price %> to
  <span>$<%= @question.max_price %>
    <% @question.skills_ids.each do |skillid| %>
      <p>Skills required: <%=  Skill.find([:skillid]) %> </p>
    <% end %>
  <p>Start Time: <%= @question.start_time %></p>
  <p>End Time: <%= @question.end_time %></p>

</div>
