<div class="container-sm">
   <%= link_to "< Back", :back, class: "muted mt-5" %>
   <div class="card-template question mb-3 mt-3">
      <div class="info">
        <h3 class="title mb-2"><%= @question.title %> </h3>
        <div class="tags">
          <% @question.skills.each do |skill| %>
            <p class="card-tag"> <%= skill.name %> </p>
          <% end %>
        </div>
        <div>
          <p>Availability: <%= "#{@question.start_time} to #{@question.end_time}" %> &nbsp; &nbsp; &nbsp; &nbsp;<%= "Price range: #{@question.min_price} to #{@question.max_price}" %></p>
        </div>
      </div>
      <% if current_user.tutor %>
        <%= link_to "Apply", new_question_proposal_path(@question), class: "btn light-btn" %>
      <% end %>
    </div>

    <div class="card-template bg-white">
      <p><%= @question.description %></p>
    </div>

  <% if current_user == @question.user %>
    <%= link_to "Edit Question" ,edit_question_path(@question), class: "btn light-btn" %>
    <%= link_to "Delete Question",
        question_path(@question),
        method: :delete,
        data: { confirm: "Are you deleting this question?"}, class: "btn dark-btn" %>
  <% end %>
</div>
