<h1>#<%= @user.username %></h1>
<div id="messages" data-user-id="<%= @user.id %>">
  <% current_user.messages_with(@user).each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.username %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [ @user, @message ] do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@user.username}" %>
  <%= f.submit %>

<% end %>
