<div class="msg-container">
  <div class="row">
    <!-- Question -->
    <div class="col-6">
      <%= link_to "< Back", root_path, class: "muted mt-5" %>
      <div class="card-template question mb-3 mt-3">
        <div class="info">
          <h3 class="title mb-2"><%= @question.title %> </h3>
          <div class="tags">
            <% @question.skills.each do |skill| %>
              <p class="card-tag"> <%= skill.name %> </p>
            <% end %>
          </div>
          <div>
            <p>Meeting Time: <%= "#{@question.selected_proposal.meeting_time}" %> &nbsp; &nbsp; &nbsp; &nbsp;
            <%= "Price: #{@question.selected_proposal.price}"%></p>
          </div>
        </div>
      </div>
      <div class="card-white line-numbers language-css">
        <p class="card-tag mb-0"> Question </p>
        <%= @question.rich_body %>
      </div>
    </div>
    <!-- message window -->
    <div class="col-6">
      <p>#Qn-<%= @question.title %></p>
      <div id="messages" data-question-id="<%= @question.id %>">
        <% @question.messages.each do |message| %>
          <div class="message-container" id="message-<%= message.id %>">
            <i class="author">
              <span><%= message.sender.username %></span>
              <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <p><%= message.content %></p>
          </div>
        <% end %>
      </div>

      <%= simple_form_for [ @question, @message ] do |f| %>
        <%= f.input :content, label: false, placeholder: "send a message" %>
        <%= f.submit %>

      <% end %>
    </div>
  </div>
</div>
