<h1>#<%= @question.title %></h1>
<div id="messages" data-question-id="<%= @question.id %>">
  <% @question.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.sender.username %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [ @question, @message ] do |f| %>
  <%= f.input :content, label: false, placeholder: "send a message" %>
  <%= f.submit %>

<% end %>
