<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'shared/sidenav' %>
    </div>

    <div class="col-9 pt-5">
      <div class="container-fluid">
        <div class="row">
          <div class='card-account col-12'>
            <div class='detail-header'>
              <strong>Account Details</strong>
              <%= link_to "🖊Edit Account Details", edit_user_registration_path, class: "blue ml-2" %>
            </div>
            <div class='card-template account-details'>
              <%= avatar(current_user, "avatar-lg") %>
              <div class='name-email info ml-3'>
                <p class='muted'>Username</p>
                <%= @user.username %>
                <p class='muted mt-4'>Email</p>
                <%= @user.email %>
              </div>
              <div class='password info'>
                <p class='muted'>Password</p>
                <p>******</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row mt-3">
          <div class='card-account col-6'>
            <div class='detail-header'>
              <strong>Bio</strong>
              <%= link_to "🖊Edit Bio", edit_user_registration_path, class: "blue ml-2" %>
            </div>
            <div class='card-template account-details bio'>
              <p>
                <%= @user.bio %>
              </p>
            </div>
          </div>
    
          <div class='card-account col-6'>
            <div class='detail-header'>
              <strong>Skills</strong>
              <%= link_to "🖊Edit Skills", edit_user_registration_path, class: "blue ml-2" %>
            </div>
            <div class='card-template account-details bio'>
              <p>
                <%= @user.bio %>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>